<div class="container content-inner-pages">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8 text-center">
            <div class="card z-depth-2">         
                <div class="card-body">
                    <h3 class="card-title">
                        <i class="fas fa-door-open mr-2"></i>
                        Register
                    </h3>
                    <hr>
                    <form [formGroup]="form" (ngSubmit)="register()">     
                        <div class="row">
                            <div class="col-12">
                                <div class="md-form">
                                    <div class="row">
                                        <div class="col-1">
                                            <mdb-icon fas icon="user" class="prefix"></mdb-icon>
                                        </div>
                                        <div class="col-11">
                                            <input mdbInput mdbValidate formControlName="name" minLength="3" maxLength="50" type="text"
                                            class="form-control" id="name">
                                            <label for="name">Name</label>
                                            <app-field-validation [field]="form.get('name')" [errorMessage]="'Name is required'"></app-field-validation>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="md-form">
                                    <div class="row">
                                        <div class="col-1">
                                            <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
                                        </div>
                                        <div class="col-11">
                                            <input mdbInput mdbValidate formControlName="email" minLength="6" maxLength="25" type="email"
                                            class="form-control" id="email">
                                            <label for="email">E-mail</label>
                                            <app-field-validation [field]="form.get('email')" [errorMessage]="'Email invalid'"></app-field-validation>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="md-form">
                                    <div class="row">
                                        <div class="col-1">
                                            <mdb-icon fas icon="lock" class="prefix"></mdb-icon>
                                        </div>
                                        <div class="col-11">
                                            <input mdbInput mdbValidate formControlName="password" minlength="4" maxLength="25" type="password"
                                                class="form-control" id="password">
                                            <label for="password">Password</label>
                                            <app-field-validation [field]="form.get('password')" [errorMessage]="'Password invalid'"></app-field-validation>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <button *ngIf="!isLogging; else loading" class="btn amber darken-1"><i class="fas fa-door-open mr-1"></i>Register</button>
                                <ng-template #loading>
                                    <app-loading-button></app-loading-button>
                                </ng-template>
                            </div>
                            <div class="col-12" style="padding-top: 1em;">
                                <a [routerLink]="['/customer','login', redirectUrl]" 
                                routerLinkActive="router-link-active">Do you have an account? Click here</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>