$img-width: 60vh;
img{
    height: $img-width;
    width: 120%;
}

.carousel img{
    height: 40vh;
    width: 100%;
}

.container-fluid{
    position: relative;
}

@media(min-width: 760px){
    .info{
        position: absolute;
        z-index: 10;
        top: ($img-width + 13vh);
    }
}
