
<div *ngIf="meal">
    <div class="container-fluid content-inner-pages">
        <div class="row">
            <div class="col-12">
                <mdb-breadcrumb>
                    <mdb-breadcrumb-item [routerLink]="['/']" class="blue-text">Home</mdb-breadcrumb-item>
                    <mdb-breadcrumb-item class="active">{{meal.name}}</mdb-breadcrumb-item>
                  </mdb-breadcrumb>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <img class="img-fluid z-depth-3 rounded d-none d-md-block" [src]="getImage(meal.id, meal.images[0])" [alt]="meal.name">
            </div>
            <div class="col-12 col-md-4">
                <img class="img-fluid z-depth-3 rounded d-none d-md-block" [src]="getImage(meal.id, meal.images[1])" [alt]="meal.name">
            </div>
            <div class="col-12 col-md-4">
                <img class="img-fluid z-depth-3 rounded d-none d-md-block" [src]="getImage(meal.id, meal.images[2])" [alt]="meal.name">
            </div>
        </div>
        <div class="row d-md-none">
            <div class="col-12">
                <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                    <mdb-carousel-item *ngFor="let image of meal.images">
                        <div class="view w-100">
                            <img 
                                class="d-block w-100" 
                                [src]="getImage(meal.id, image)" [alt]="meal.name"
                                alt="First slide">
                            <div class=" waves-light" mdbWavesEffect></div>
                        </div>
                    </mdb-carousel-item>
                </mdb-carousel>                    
            </div>
        </div>
    </div>
    <div  class="container-fluid info text-center">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-7">
                <div class="card z-depth-3" style="height: 100%;">
                    <div class="card-body">            
                        <h4 class="card-title">
                            <a class="activator waves-effect waves-light mr-4"><i class="fas fa-utensils"></i></a>
                            {{meal.name}}
                        </h4>
                        <hr>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <p class="card-text">
                                    {{meal.description}}
                                </p>
                            </div>
                            <div class="col-12 col-md-3">
                                <p class="card-text">
                                    <strong>Expiration: </strong>{{meal.daysToExpire}} days
                                </p>
                            </div>
                            <div class="col-12 col-md-3">
                                <p class="card-text">
                                    <strong>Available:</strong> {{meal.amount}}
                                </p>
                            </div>
                        </div>            
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <form (ngSubmit)="addToCart()" [formGroup]="form">            
                    <div class="card z-depth-3" style="height: 100%;">
                        <div class="card-body">        
                            <div class="row d-flex align-items-center">
                                <div class="col-6 col-md-4">
                                    <h4 class="text-success text-center">{{meal.price * amount.value | currency}}</h4>
                                </div>
                                <div class="col-4 col-md-3">
                                    <div class="md-form">
                                        <input mdbInput mdbValidate formControlName="amount" min="1" type="number" class="form-control" id="amount">
                                        <label for="amount">Quantity</label>
                                        <mdb-error *ngIf="amount.invalid && (amount.dirty || amount.touched)">Amount Invalid</mdb-error>
                                        <mdb-success *ngIf="amount.valid && (amount.dirty || amount.touched)"></mdb-success>
                                    </div>
                                </div>
                                <div class="col-12 col-md-5">
                                    <button [disabled]="!form.valid" class="btn amber darken-1"><i class="fas fa-cart-plus mr-1"></i> Add to Cart</button>
                                </div>
                            </div>
                        </div>            
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
