$img-height: 55vh;
img{
    height: $img-height;
    width: 100%;
}

.carousel img{
    height: 40vh;
    width: 100%;
}

.container-fluid{
    position: relative;
}

@media(min-width: 760px){
    .info{
        position: absolute;
        z-index: 10;
        top: ($img-height + 13vh);
    }
}

@media(max-width: 760px){
    img{
        height: 30vh !important;
    }

    .md-form{
        margin: 0px;
    }
}
