
<mdb-navbar SideClass="navbar navbar-expand-lg blue-grey lighten-4 ie-nav fixed-top nav " 
[containerInside]="false">

<mdb-navbar-brand>
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="assets/img/dark-logo.png" style="height: 5.5vh;">
    </a>
</mdb-navbar-brand>

<links>  
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link waves-light black-text cart-link" [routerLink]="['/cart']" mdbWavesEffect>
          <mdb-icon fas icon="shopping-cart" size="2x"></mdb-icon><span class="d-md-none">Cart</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link waves-light">
        <div class="btn-group" mdbDropdown>
          <mdb-icon fas icon="user" class="black-text" size="2x" mdbDropdownToggle></mdb-icon>
          <span class="d-md-none">Profile</span>
          <div class="dropdown-menu dropdown-menu-right dropdown-primary">
            <a class="dropdown-item white-text" *ngIf="!isLogged; else logged" (click)="redirect('login')">
              <i class="fas fa-sign-in-alt mr-1"></i>
              Login
            </a>
            <ng-template #logged>
              <a class="dropdown-item white-text" [routerLink]="['/customer','profile']" 
                routerLinkActive="router-link-active">
                <i class="fas fa-user-circle mr-1"></i>
                Profile
              </a>
              <a class="dropdown-item white-text" [routerLink]="['/customer','orders']" 
                routerLinkActive="router-link-active">
                <i class="fas fa-receipt mr-1"></i>
                My Orders
              </a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item white-text" (click)="logout()">
                <i class="fas fa-sign-out-alt mr-1"></i>
                Logout
              </a>
            </ng-template>            
          </div>
        </div>
      </a>
    </li> 
  </ul>
</links>

</mdb-navbar>