<div class="wrapper">
    <div class="page-header">
        <app-navbar></app-navbar>
    </div>
    <div class="page-body">
        <router-outlet></router-outlet>
    </div>
    

    <!-- Footer -->
    <footer class="footer page-footer font-small mdb-color darken-1">
        <div class="container white-text">
            <div class="row d-flex align-items-center">
                <div class="col-7 col-lg-8 align-middle">
                    <p class="text-center font-weight-bold" style="margin-top: 1em;">© Developed by Kevin Pereira</p>  
                </div>
                <div class="col-5 col-lg-4">
                    <div class="flex-center">  
                        <!-- Facebook -->
                        <a class="fb-ic">
                            <i class="fab fa-facebook-f fa-lg mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!-- Twitter -->
                        <a class="tw-ic">
                            <i class="fab fa-twitter fa-lg mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Linkedin -->
                        <a class="li-ic">
                            <i class="fab fa-linkedin-in fa-lg mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic">
                            <i class="fab fa-instagram fa-lg mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                    </div>
                </div>
            </div>  
        </div>
    </footer>
</div>